<div class="form-horizontal">
  {{student-attribute type="text" value=model.ucid label="UCID" size="5"}}
  {{student-attribute type="text" value=model.firstName label="First Name" size="5"}}
  {{student-attribute type="text" value=model.lastName label="Last Name" size="5"}}
  {{student-attribute type="text" value=model.ethnicity label="Ethnicity" size="5"}}
  {{student-attribute type="text" value=model.highshoolName label="Highschool Name" size="5"}}
  {{student-attribute type="checkbox" value=model.isSda label="SDA" size="1"}}
  {{student-attribute type="date" value=model.startDate label="Start Date" size="5"}}
  {{student-attribute type="date" value=model.bgcheckDate label="Background Check" size="5"}}
  {{student-gpa model=model label="GPA"}}

  <h3>Provisional Standing</h3>
  {{student-attribute type="checkbox" value=model.provApplication label="Application" size="1"}}
  {{student-attribute type="checkbox" value=model.provAutobiography label="Autobiography" size="1"}}
  {{student-attribute type="checkbox" value=model.provSpeechHearing label="Speech and Hearing" size="1"}}
  {{student-attribute type="checkbox" value=model.provMyersBriggs label="Myers-Briggs" size="1"}}
  {{student-attribute type="checkbox" value=model.provRef1 label="R1 Pastor or Dean" size="1"}}
  {{student-attribute type="checkbox" value=model.provRef2 label="R2 Work Supervisor" size="1"}}
  {{student-attribute type="checkbox" value=model.provRef3 label="Teacher" size="1"}}
  {{student-attribute type="text" value=model.provEduc125 label="Educ 125" size="5"}}
  {{student-attribute type="text" value=model.provObservationHours label="Observation Hours" size="5"}}
  {{student-attribute type="date" value=model.provFelonyStatement label="Felony Statement" size="5"}}
  {{student-attribute type="date" value=model.provTpcApproval label="TCP Approval" size="5"}}
  {{student-attribute type="text" value=model.provComments label="Comments" size="5"}}

  <h3>Candidacy Standing</h3>
  {{student-attribute type="checkbox" value=model.candDiversityObhrs label="Diversity OB Hours" size="1"}}
  {{student-attribute type="checkbox" value=model.candApplication label="Application" size="1"}}
  {{student-attribute type="checkbox" value=model.candInterview label="Interview" size="1"}}
  {{student-attribute type="checkbox" value=model.candPortfolio label="Portfolio" size="1"}}
  {{student-attribute type="date" value=model.candTpcApproval label="TPC Approval" size="5"}}
  {{student-attribute type="date" value=model.candRecommendation label="Recommendation" size="5"}}
  {{student-attribute type="date" value=model.candFelonyStatement label="Felony Statement" size="5"}}
  {{student-attribute type="text" value=model.candPhilosophyHrs label="Philosophy Hours" size="5"}}
  {{student-attribute type="text" value=model.candEduc218 label="Educ 218" size="5"}}
  {{student-attribute type="text" value=model.candEduc225 label="Educ 225" size="5"}}
  {{student-attribute type="text" value=model.candComments label="Comments" size="5"}}
  {{student-test tests=model.candTests}}

  <h3>Pre-Student Teaching</h3>
  {{student-attribute type="checkbox" value=model.preStudentTeachingAp label="Application" size="1"}}
  {{student-attribute type="checkbox" value=model.preRecommendation label="Recommendation" size="1"}}
  {{student-attribute type="checkbox" value=model.preBgcheck label="Background Check" size="1"}}
  {{student-attribute type="checkbox" value=model.preOneSourceSub label="One Source Sub" size="1"}}
  {{student-attribute type="checkbox" value=model.preWorkRequest label="Work Request" size="1"}}
  {{student-attribute type="checkbox" value=model.prePhysicalTbTest label="Physical TB Test" size="1"}}
  {{student-attribute type="checkbox" value=model.prePortfolio label="Portfolio" size="1"}}
  {{student-attribute type="checkbox" value=model.prePresessionSt label="Presession Student Teaching" size="1"}}
  {{student-attribute type="checkbox" value=model.preLearingTheory label="Learning Theory" size="1"}}
  {{student-attribute type="checkbox" value=model.preGensec label="Gensec" size="1"}}
  {{student-attribute type="date" value=model.preFelonyStatement label="Felony Statement" size="5"}}
  {{student-attribute type="date" value=model.preStudentTeachingDate label="Student Teaching Date" size="5"}}
  {{student-attribute type="date" value=model.preTcpApproval label="TPC Approval" size="5"}}
  {{student-attribute type="text" value=model.preSpedHrs label="Sped Hours" size="5"}}
  {{student-attribute type="text" value=model.preEduc345 label="Educ 345" size="5"}}
  {{student-attribute type="text" value=model.preEduc346 label="Educ 346" size="5"}}
  {{student-attribute type="text" value=model.preEduc356 label="Educ 356" size="5"}}
  {{student-attribute type="text" value=model.preComments label="Comments" size="5"}}

  <h3>Student Teaching</h3>
  {{student-attribute type="checkbox" value=model.stPortfolio label="Portfolio" size="1"}}
  {{student-attribute type="checkbox" value=model.stResume label="Resume" size="1"}}
  {{student-attribute type="date" value=model.stFelonyStatement label="Felony Statement" size="5"}}
  {{student-attribute type="date" value=model.stStartDate label="Start Date" size="5"}}
  {{student-attribute type="date" value=model.stGradDate label="Graduation Date" size="5"}}
  {{student-attribute type="date" value=model.stInitCertDate label="Initial Certification Date" size="5"}}
  {{student-attribute type="checkbox" value=model.stCertApp label="Certification Application" size="1"}}
  {{student-test tests=model.stTests}}
  {{student-teaching model=model label="Student Teaching"}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action "buttonClicked" model}}>{{buttonLabel}}</button>
    </div>
  </div>
</div>
